*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
hr{
    margin: 0;
}
#header{
    padding: 20px;
}
.home_background{
    background: url('../data/images/MainPage.png');
    height: 70vh;
}
main{
    background-color: #2C2C2C;
}
.shadow_cover{
    background-color: #2c2c2c91;
    position: absolute;
    width: 100%;
    height: 70vh;
}
.controller_img{
    padding-top: 261px;
    text-align: center;
}
.search_bar{
    text-align: center;
    padding-top: 96px;
    display: flex;
    justify-content: center;
}
.search_result{
    position: absolute;
    color: white;
    text-align: left;
    background-color: #2C2C2C;
    width: 100%;
    color: black;
    top: 150px;
}
.search_result h3{
    padding: 10px;
    font-size: 15px;
}
.input-group-text{
    background-color: #E92C2C;
    color: white;
}
#search{
    padding: 14px;
    border-radius: 0 6px 6px 0;
}
.search_txt{
    color: white;
    background: #E92C2C;
    border-radius: 6px 0 0 6px;
    padding: 5px;
}
#footer{
    background-color: #2C2C2C;
    color: white;
    padding: 36px;
}
#footer ul{
    text-align: right;
    padding-right: 30px;
}
#footer li{
    display: inline-block;
    padding: 5px;
}
#content{
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}
#cityList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.toTop{
    padding: 5px 0;
}
.card{
    margin: 0 auto;
}
.see_more_btn:hover{
    cursor: pointer;
    color: white;
    background-color: #E92C2C;
}


@media only screen and (max-width: 974px){

    #cityList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media only screen and (max-width: 648px){

    #cityList{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}